*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudoku{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    width: 90vmin;
    height: 90vmin;
    gap: 1px;
    background-color: black;
}

.cell{
    background-color: #e0f0ff ;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.cell:nth-child(9n+4),.cell:nth-child(9n+7) {
  border-left: 3px solid purple;
}

.cell:nth-child(n + 28):nth-child(-n + 36) {
  border-top: 3px solid purple;
}


.cell:nth-child(n + 55):nth-child(-n + 63) {
  border-top: 3px solid purple;
}

.cell input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 3vmin;
  font-weight: bold;
  background: transparent;
  caret-color: transparent;
}

button{
    font-size: 3.5vmin;
    height: 8vmin;
    width: 8vmin;
}

.button-container{
  width: 90vmin;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.selected{
  border: 2px solid yellow;
  background-color: white;
}